<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="/layouts/layout::plantilla">

<head>
<title th:fragment="titulo"></title>
</head>

<body>
	<div class="container" th:fragment="content">
		<div class="container" style="position: absolute;">
			<h1 class="text-center mt-2 mb-2" style="position: absolute;">LISTADO DE VENTAS</h1>  
				<br>
			<h2 
				style="margin-top: 35px; text-align: center;">No hay datos para
				mostrar</h2>
  
			<div style="text-align: right">
				<a name="nuevoMovimiento" id="nuevoMovimiento"
					class="btn btn-primary mt-4"
					th:href="@{/venta/guardarVenta}" role="button"><i
					class="fas fa-plus"></i>Agregar Venta</a>
			</div>
			<hr>
			<div class="my-custom-scrollbar-bigTable table-wrapper-scroll-y">
				<table class="table border border-dark" id="datos" style="color: white; text-align: center; width: 98%; margin-left: 1%">
					<thead class="bg-gradient-primary">
						<tr>
							<th>Numero Factura</th>
							<th>Tipo Venta</th>
							<th>Total Venta</th>
							<th>Nombre</th>
							<th>Fecha Venta</th>
							<!-- <th>Estado</th> -->
							<th>Cliente</th>
						</tr>
					</thead>
					<tbody style="color: black;">
						<tr th:each="i:${items}">
							<td th:text="${i.numeroFactura}"></td>
							<td th:text="${i.tipoVenta}"></td>
							<td th:text="${i.totalVenta}"></td>
							<td th:text="${i.nombre}"></td>
							<td th:text="${i.fechaVenta}"></td>
							<!-- <td th:text="${i.estado}"></td>-->
							<td th:text="${i.Clientes.nombreCliente}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</body>

</html>